:root {
  --primary: #28df99;
  --secondary: #eeeeee;
  --background: #1a1a2e;
}

body {
  background: var(--background);
  font-family: "Titillium Web", sans-serif;
  height: 100%;
}

#stopwatch {
  width: 6.5rem;
  margin: 16px;
}


.beg {
  color: var(--secondary);
  font-size: 10rem;
}

#timerContainer {
  width: 1000px;
  margin: 30px auto;
  color: var(--secondary);
  text-align: center;
}


.ctrl {
  margin-top: 10%;
}

button {
  margin-top: 20px;
  color: var(--secondary);
  background: var(--background);
  border: none;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  color: var(--primary);
}
